/* --- Main template ---- */
body {
        background: none repeat scroll 0 0 #D2D0D4;
        font-family: Helvetica,Arial,Geneva;
        margin: 1em;
}

.container label {
    display: inline-block;
    width: 5em;
    text-align: right;
    padding-right: 0.5em;
}

.container input {
    display: inline-block;
}

#gentoo-main {
        background: none repeat scroll 0 0 #F0F0F0;
        border: 1px solid #747E93;
        border-radius: 5px 5px 5px 5px;
        color: black;
        font-size: 10pt;
	    font-family: Sans-Serif;
        padding: 10px;
}

#header {
    text-align:center;
}

/* --- Gentoo bar ---- */
div#gentoo-bar {
   background: url("../img/gentoo-header-bar-bg.png") repeat-x;
   margin-bottom: 2em;
   margin-top: -1em;
   margin-left: -1em;
   margin-right: -1em;
   overflow:hidden;
   padding-bottom:0.3em;
}

div#gentoo-bar img {
    border: none !important;
}

div#gentoo-bar div {
    font-size: 10pt;
    padding: .25em;
}

div#gentoo-bar a.home-link {
    margin-right: .5em;
    float: left;
}

div#gentoo-bar div a {
    text-decoration: none;
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
    color: #231A3F;
}

div#gentoo-bar div a:hover {
    background-color: #A898DD;
    color: #45347B;
}

div#gentoo-bar div a.active {
    background-color: white;
    font-weight: bold;
}

/* --- Settings ---- */
#main {
    width: 620px; display: block; 
    position: relative;
    margin: 0 0 30px 300px; 
    padding: 1px 22px 20px 22px;
    border: solid 1px #aaa;
}

#sidebar {
    float:left;
    width:200px;
    font-size:20px;
    border-right: solid 1px #aaa;
}

div#sidebar a {
    text-decoration:none;
    color: black;
}

div#sidebar a:hover {
    background-color: #A898DD;
}

#footer {
    clear:both;
    text-align:center;
}
